<div class="h-auto grid grid-cols-1 gap-8">
  <!-- Heading -->
  <div class="flex justify-center items-center">
<!--    <h1 style="font-family: Akshar">Welcome home</h1>-->
<!--    <h1 style="font-family: Akshar">Welcome home</h1>-->
    <h1 class="font-Akshar text-5xl font-extrabold mb-4">
      Welcome home
    </h1>
  </div>

  <!-- Content Section -->
  <div class="grid grid-cols-1 gap-12">
    <div class="flex flex-col sm:flex-row items-start gap-8">
      <!-- Image -->
      <%= image_tag "roma_cube_1.png",
                    alt: "The Cube",
                    class: "rounded-lg shadow-lg w-full sm:w-3/4 max-w-2xl" %>

      <!-- Text -->
      <div>
        <h2 class="text-xl font-semibold mb-2 block">
<!--        <b class="text-xl font-semibold mb-2 block font-['Akshar']">-->
          Roma Norte, Mexico City
        </h2>
        <h3 class="text-lg mb-4"><i>Where Culture, Creativity, and Business Converge</i></h3>
        <p class="text-gray-600 leading-relaxed">
          Discover <u>The Cube</u> — an architectural icon in the vibrant heart of Roma Norte.
          This eight-story masterpiece redefines modern luxury and functionality, offering
          an unparalleled blend of cultural innovation, business sophistication, and urban living.
        </p>
      </div>
    </div>
  </div>
</div>
