<div class="h-auto grid grid-cols-1 gap-8">
  <!-- Heading -->
  <div class="flex justify-center items-center">
    <h1 class="text-5xl font-extrabold text-gray-800 mb-4">Welcome home</h1>
  </div>

  <!-- Content Section -->
  <div class="grid grid-cols-1 gap-12">
    <div class="flex flex-col sm:flex-row items-start gap-8">
      <!-- Image -->
      <%= image_tag "roma_cube_2.png",
                    alt: "The Cube",
                    class: "rounded-lg shadow-lg w-full sm:w-3/4 max-w-2xl" %>

      <!-- Text -->
      <div>
        <b class="text-xl font-semibold mb-2 block">
          Roma Norte, Mexico City
        </b>
        <p class="text-lg mb-4"><i>Where Culture, Creativity, and Business Converge</i></p>
        <p class="text-gray-600 leading-relaxed">
          Discover The Cube—an architectural icon in the vibrant heart of Roma Norte.
          This eight-story masterpiece redefines modern luxury and functionality, offering
          an unparalleled blend of cultural innovation, business sophistication, and urban living.
        </p>
      </div>
    </div>
  </div>
</div>
