<h1 class="text-3xl font-bold mb-6">Project Notes</h1>

<% if @notes.present? %>
  <div class="overflow-x-auto">
    <table class="w-full bg-gray-800 rounded-lg shadow-lg">
      <thead>
      <tr class="text-left text-white bg-gray-700">
        <th class="p-4">Title</th>
        <th class="p-4">Created By</th>
        <th class="p-4">Created At</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gray-600">
      <% @notes.each do |note| %>
        <tr class="text-gray-300">
          <td class="p-4 text-blue-400 hover:underline">
            <%= link_to note.title, project_note_path(@project, note) %>
          </td>
          <td class="p-4"><%= note.user.full_name %></td>
          <td class="p-4"><%= note.created_at.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="text-gray-500 italic">No notes have been added yet.</p>
<% end %>

<%= link_to "Add Note", new_project_note_path(@project), class: "bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-6 inline-block" %>
