<div class="h-auto grid grid-cols-1 gap-8">
  <!-- Heading -->
  <div class="flex justify-center items-center">
    <h1 class="text-5xl font-extrabold mb-4">Contact Us</h1>
  </div>

  <!-- Content Section -->
  <div class="grid grid-cols-1 gap-12">
    <div class="flex flex-col sm:flex-row items-start gap-8">
      <!-- Image -->
      <%= image_tag "roma_cube_1.png",
                    alt: "The Cube",
                    class: "rounded-lg shadow-lg w-full sm:w-3/4 max-w-2xl order-1 sm:order-none" %>

      <!-- Text -->
      <div class="order-2 sm:order-none mb-2">
        <b class="text-xl font-semibold mb-2">
          To learn more about the project, send us an email at <u>hi@romacube.com</u>.
        </b>

        <!-- Social Media Icons -->
        <div class="grid grid-cols-3 gap-10 justify-center items-center mt-16">
          <a href="https://www.facebook.com/romacubemx/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-facebook text-4xl hover:text-blue-600"></i>
          </a>
          <a href="https://www.instagram.com/romacubemx/" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-instagram text-4xl hover:text-pink-500"></i>
          </a>
          <a href="https://www.tiktok.com/romacube" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-tiktok text-4xl hover:text-blue-300"></i>
          </a>
          <a href="https://www.youtube.com/@romacube" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-youtube text-4xl hover:text-red-600"></i>
          </a>
          <a href="https://www.x.com/romacubemx" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-x text-4xl hover:text-gray-500"></i>
          </a>
          <a href="https://www.tumblr.com/romacube" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-tumblr text-4xl hover:text-blue-500"></i>
          </a>
          <a href="https://soundcloud.com/romacubemx" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-soundcloud text-4xl hover:text-orange-500"></i>
          </a>
          <a href="https://pinterest.com/romacube" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-pinterest text-4xl hover:text-red-700"></i>
          </a>
          <a href="https://www.linkedin.com/company/romacube" target="_blank" rel="noopener noreferrer">
            <i class="fa-brands fa-linkedin text-4xl hover:text-blue-700"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
