<div class="h-56 grid grid-cols-1 gap-4 space-evenly">
  <div class="flex justify-between items-center">
    <div>
      <h1 class="text-5xl font-extrabold text-gray-800 mb-4">The Cube</h1>
    </div>

    <div>
      <% if current_user %>
        <%= link_to "Dashboard", "/dashboard", class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
      <% else %>
        <%= link_to "Login", "/login", class: "bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" %>
      <% end %>
    </div>
  </div>
  <div>
    <p class="text-xl mb-6">Roma Norte, CDMX</p>
  </div>

  <div>
    <img
      src="https://i.ibb.co/3R7Ldpc/Screenshot-2024-11-27-at-9-52-12-PM.png"
      alt="The Cube Preview"
      class="rounded-lg shadow-lg mx-auto max-w-full"
    >
  </div>

  <div>
    <%= link_to "Request access", new_inquiry_path, class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
  </div>
</div>
