<div class="container mx-auto px-4 py-8" style="max-width: 75%;">
  <h1 class="text-4xl font-bold text-center mb-6">Resume</h1>

  <section class="mb-12">
    <h2 class="text-3xl font-bold mb-6">Experience</h2>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">Senior Software Engineer</h3>
      <p class="text-gray-600 italic"><a href="https://prolegis.com"><u class="text-blue-500">Prolegis</u></a> | Washington, DC</p>
      <p class="text-gray-600 italic">July 2023 - Present</p>
      <ul class="list-disc list-inside mt-2 text-gray-700">
        <li>● Serve as the lead developer for an application employed by hundreds of congressional staff members to streamline their research and analysis processes in the realm of public policy and legislation.</li>
        <li>● Manage a team of 3 engineers in the full software development lifecycle. Level up engineers through pair programming, weekly one on ones, and performance reviews.</li>
        <li>● Develop the product definition, orchestrate the launch, and chart a visionary path for long-term initiatives targeting various segments within the marketplace.</li>
      </ul>
    </div>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">Software Engineer</h3>
      <p class="text-gray-600 italic"><a href="https://hummingbird.co"><u class="text-blue-500">Hummingbird</u></a> | San Francisco, CA</p>
      <p class="text-gray-600 italic">August 2021 - May 2023</p>
      <ul class="list-disc list-inside mt-2 text-gray-700">
        <li>● Spearheaded the development of an application for sending Google Form-like reports to external parties to request information regarding financial crime investigation.</li>
        <li>● Created a filing system to enable users to submit reports regarding money laundering to Financial Intelligence organizations for over a dozen countries.</li>
        <li>● Refactored REST endpoints into GraphQL queries and mutations.</li>
        <li>● Optimized queries run by daily workers, reducing database read/write operations.</li>
      </ul>
    </div>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">Software Engineer</h3>
      <p class="text-gray-600 italic"><a href="https://flatworldpartners.com/"><u class="text-blue-500">Flat World Partners</u></a> | New York, NY</p>
      <p class="text-gray-600 italic">February 2020 - July 2021</p>
      <ul class="list-disc list-inside mt-2 text-gray-700">
        <li>● Designed and wrote algorithms for calculating impact assessments (e.g., CO2 emissions) on portfolios of publicly traded companies. </li>
        <li>● Developed a Two-Factor Authentication system from scratch, allowing users to sign in using Google Authenticator or Backup Codes.</li>
        <li>● Implemented functionality to allow users to generate and use API keys.</li>
      </ul>
    </div>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">Software Engineer</h3>
      <p class="text-gray-600 italic"><a href="https://justworks.com"><u class="text-blue-500">Justworks</u></a> | New York, NY</p>
      <p class="text-gray-600 italic">January 2019 - January 2020</p>
      <ul class="list-disc list-inside mt-2 text-gray-700">
        <li>● Led the development of a reporting tool for internal Justworks Customer Success employees to track users’ Paid Time Off usage, reducing total inbound ticket volume by 3%.</li>
        <li>● Built a feature flag system allowing product managers and non-engineers to turn on and off features.</li>
        <li>● Led a company-wide testing library upgrade to increase velocity of the CI/CD pipeline.</li>
      </ul>
    </div>
  </section>

  <!-- Education Section -->
  <section class="mb-12">
    <h2 class="text-3xl font-bold mb-6">Education</h2>

    <div class="mb-8">
      <h3 class="text-xl font-semibold">University of Southern Maine</h3>
      <p class="text-gray-600 italic">Bachelors of Arts, Mathematics</p>
      <p>GPA: 3.8 / 4.0</p>
    </div>
  </section>

  <!-- Skills Section -->
  <section class="mb-12">
    <h2 class="text-3xl font-bold mb-6">Skills</h2>
    <div id="skills-container" class="grid grid-cols-1 gap-4">
      <div class="float-left w-full sm:w-auto">
        <h3 class="text-xl font-semibold text-teal-500">Languages</h3>
        <ul class="list-disc list-inside mt-2 text-gray-700">
          <li>Ruby, JavaScript, HTML/CSS, SQL, Python</li>
<!--          <li>● Ruby</li>-->
<!--          <li>● JavaScript</li>-->
<!--          <li>● HTML/CSS</li>-->
<!--          <li>● SQL</li>-->
<!--          <li>● Python</li>-->
        </ul>
      </div>
      <div class="float-right w-full sm:w-auto">
        <h3 class="text-xl font-semibold text-teal-500">Frameworks</h3>
        <ul class="list-disc list-inside mt-2 text-gray-700">
          <li>
            Rails, Elasticsearch, TailwindJS, ReactJS, AngularJS
          </li>
        </ul>
      </div>
      <div class="float-left w-full sm:w-auto">
        <h3 class="text-xl font-semibold text-teal-500">Databases</h3>
        <ul class="list-disc list-inside mt-2 text-gray-700">
          MySQL, PostgreSQL, S3, MongoDB, DynamoDB
<!--          <li>● MySQL</li>-->
<!--          <li>● PostgreSQL</li>-->
<!--          <li>● S3</li>-->
<!--          <li>● MongoDB</li>-->
<!--          <li>● DynamoDB</li>-->
        </ul>
      </div>
      <div class="float-right w-full sm:w-auto">
        <h3 class="text-xl font-semibold text-teal-500">DevOps</h3>
        <ul class="list-disc list-inside mt-2 text-gray-700">
          <li>Amazon Web Services, Heroku, Docker, Terraform</li>
        </ul>
      </div>
      <div class="float-left w-full sm:w-auto">
        <h3 class="text-xl font-semibold text-teal-500">Statistics/AI</h3>
        <ul class="list-disc list-inside mt-2 text-gray-700">
          <li>Linear Regression, Genetic Algorithms, Supervised Learning</li>
<!--          <li>● Linear Regression</li>-->
<!--          <li>● Cluster Analysis</li>-->
<!--          <li>● Genetic Algorithms</li>-->
<!--          <li>● Supervised Learning</li>-->
        </ul>
      </div>
      <div class="float-right w-full sm:w-auto">
        <h3 class="text-xl font-semibold text-teal-500">Other</h3>
        <ul class="list-disc list-inside mt-2 text-gray-700">
          <li>RESTful APIs, GraphQL, OAuth, Linux</li>
<!--          <li>● RESTful APIs</li>-->
<!--          <li>● GraphQL</li>-->
<!--          <li>● OAuth</li>-->
<!--          <li>● Linux</li>-->
        </ul>
      </div>
    </div>
  </section>
</div>