<% if project.user == user %>
  <%= link_to "Edit Project", edit_project_path(project), class: "btn btn-primary" %>
  <%= link_to "Delete", project_path(project), method: :delete, class: "btn btn-danger" %>
<% else %>
  <% if project.project_memberships.map(&:user).include?(user) %>
    <p>You are a contributor to this project.</p>
  <% else %>
    <%= button_to "Request to Join", project_memberships_path(project_id: project.id), method: :post, class: "btn btn-secondary" %>
  <% end %>
<% end %>
