<div class="h-auto grid grid-cols-1 gap-8">
  <!-- Heading -->
  <div class="flex justify-center items-center">
    <h1 class="text-5xl font-extrabold mb-4">About</h1>
  </div>

  <!-- Content Section -->
  <div class="grid grid-cols-1 gap-12">
    <div class="flex flex-col sm:flex-row items-start gap-8">
      <!-- Image -->
      <%= image_tag "roma_cube_7.png",
                    alt: "The Cube",
                    class: "rounded-lg shadow-lg w-full sm:w-3/4 max-w-2xl order-1 sm:order-none" %>

      <!-- Text -->
      <div class="order-2 sm:order-none">
        <h2 class="text-xl font-semibold">Mission Statement</h2>

        <p class="leading-relaxed mt-4">
          The Cube is a transformative hub in the heart of Roma Norte, Mexico City, where culture, creativity,
          and business converge. <u>Our mission</u> is to redefine modern urban living and innovation by providing
          a dynamic blend of luxury residences, cutting-edge workspaces, vibrant cultural experiences,
          and premier hospitality. We aim to inspire visionaries, foster collaboration,
          and elevate the community through architectural excellence and a commitment to sustainable growth.
        </p>
      </div>
    </div>
  </div>
</div>
