<div class="h-auto grid grid-cols-1 gap-8">
  <!-- Heading -->
  <div class="flex justify-center items-center">
    <h1 class="text-5xl font-extrabold mb-4">About</h1>
  </div>

  <!-- Content Section -->
  <div class="grid grid-cols-1 gap-12">
    <div class="flex flex-col sm:flex-row items-start gap-8">
      <!-- Image -->
      <%= image_tag "roma_cube_5.png",
                    alt: "The Cube",
                    class: "rounded-lg shadow-lg w-full sm:w-3/4 max-w-2xl order-1 sm:order-none" %>

      <!-- Text -->
      <div class="order-2 sm:order-none">
        <b class="text-xl font-semibold">Amenities</b>

        <p class="leading-relaxed mt-4">
        <div class="mb-4">
          <b>• The Cube Gallery:</b> A dynamic space for rotating exhibits and events that inspire and connect.
        </div>
        <div class="mb-4">
          <b>• Premium Offices:</b> Sleek, future-forward workspaces for innovators and visionaries.
        </div>
        <div class="mb-4">
          <b>• Retail Spaces:</b> Ground-level retail opportunities for luxury boutiques benefitting from a prime location with exceptional foot traffic.
        </div>
        <div class="mb-4">
          <b>• Luxury Condos:</b> Two exquisite apartments featuring premium appliances, expansive private entertainment terraces, and seamless indoor-outdoor living.
        </div>
        <div class="mb-4">
          <b>• Private Club:</b> An exclusive members-only hub for networking, events, and social gatherings.
        </div>
        <div class="mb-4">
          <b>• Innovation Hubs:</b> Cutting-edge incubators with rooftop gardens—perfect for collaborative indoor-outdoor work.
        </div>
        <div class="mb-4">
          <b>• Media Suites:</b> Two fully-equipped professional editing bays for media professionals, complete with the latest technology and amenities.
        </div>
        <div class="mb-4">
          <b>• Gourmet Dining:</b> Two thoughtfully curated premium restaurants perfect for both fine dining enthusiasts and business lunches.
        </div>
        <div class="mb-4">
          <b>• Terrace Wine Bar:</b> A cozy yet chic rooftop oasis, perfect for relaxing with clients and friends, offering stunning views of nearby tree-laden park, Plaza Río de Janeiro.
        </div>
        </p>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-12 mt-28">
    <div class="flex flex-col sm:flex-row items-start gap-8">
      <!-- Image -->
      <%= image_tag "roma_cube_6.png",
                    alt: "The Cube",
                    class: "rounded-lg shadow-lg w-full sm:w-3/4 max-w-2xl order-1 sm:order-none" %>

      <!-- Text -->
      <div class="order-2 sm:order-none">
        <b class="text-xl font-semibold mb-2">By the Numbers</b>

        <p class="leading-relaxed mt-4">
        <div class="mb-4">
          <b>• Required Investment:</b> $40,000,000 USD
        </div>
        <div class="mb-4">
          <b>• Floors:</b> 8 floors plus a 28-car garage basement
        </div>
        <div class="mb-4">
          <b>• Square Meters:</b> 4972 m² of rentable space
        </div>
        <div class="mb-4">
          <b>• Square Feet:</b> 53,518 sq ft of rentable space
        </div>
        <div class="mb-4">
          <b>• Monthly NOI (Net Operating Income):</b> $311,374 USD
        </div>
        <div class="mb-4">
          <b>• Yearly NOI (Net Operating Income):</b> $3,576,492 USD
        </div>
        <div class="mb-4">
          <b>• Capitalization Rate (Cap Rate):</b> 8.94%
        </div>
        <div class="mb-4">
          <b>• Yearly Potential Cash Flow:</b> $4,012,492+ USD
        </div>
        <div class="mb-4">
          <b>• Gross Rent Multiplier:</b> 9.97
        </div>
        </p>
      </div>
    </div>
  </div>
</div>
