@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/*.body {*/
/*    font-family: "Akshar", sans-serif;*/
/*    font-optical-sizing: auto;*/
/*    !*font-weight: <weight>;*!*/
/*    font-style: normal;*/
/*}*/

/*body {*/
/*    font-family: 'Akshar', sans-serif;*/
/*    color: #403B55;*/
/*    background: url(../images/background.png)*/
/*}*/

/*.fa.fa-tiktok {*/
/*    background: url(../images/tiktok_logo.svg) no-repeat;*/
/*    width: 22px;*/
/*    height: 25px;*/
/*}*/

body {
    font-family: DefaultFont, sans-serif;
    color: #403B55;
    background-image: url('https://i.ibb.co/zrMqz3Z/Screenshot-2024-12-03-at-10-15-51-PM.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
    body {
        background-repeat: repeat; /* Allows background to repeat on mobile */
    }
}

h1 {
    font-family: Akshar, sans-serif;
    /*color: white;*/
}

h2 {
    font-family: Akshar, sans-serif;
    /*color: white;*/
}

h3 {
    font-family: Akshar, sans-serif;
    /*color: white;*/
}

@font-face {
    font-family: 'DefaultFont';
    src: url('https://drive.google.com/uc?id=1titWiki9c5MSm7CsSY128SpsLGDYvEZS') format('woff2'),
    url('https://drive.google.com/uc?id=1pL0bRJ91WvKZwhsMar6v34rCz07JpmxT') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Industria';
    src: url('https://drive.google.com/uc?id=1w2tPcFrWF9q9blW8OQUbAj0hBqGq9ycf') format('woff2'),
    url('https://drive.google.com/uc?id=1x5S80h50JMcudORmU1RbRjuiZtZWGL21') format('woff');
    font-weight: normal;
    font-style: normal;
}
