<h1 class="text-3xl font-bold text-white mb-6"><%= @organization.name %></h1>

<h2 class="text-2xl font-bold text-blue-400 mb-4">Projects</h2>
<ul class="divide-y divide-gray-600">
  <% @projects.each do |project| %>
    <li class="py-4">
      <h2 class="text-xl font-bold text-blue-400">
        <%= link_to project.title, project_path(project), class: "hover:underline" %>
      </h2>
    </li>
  <% end %>
</ul>
